html, body{
    background-color: #f7f7f7;
    font-family: arial, sans-serif;
    width: 100vw;
    overflow-x: hidden;
  }
  
  #app{
    padding-top: 80px;
  }

  #boardApp {
    width: 560px;
    height: 560px;
    border: 5px solid #67759B;
    margin: 0 auto;
  }
  
  .allTile{
    width: 70px;
    height: 70px;
    float: left;
  }
  
  .darkTile{
    background-color: #A67D5D;
  }
  
  .lightTile{
    background-color: #E8D0AA;
  }
  
  .allPiece{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
    color: white;
    font-size: 2.2em;
    text-align: center;
    cursor: pointer;
  }
  
  .darkPiece{
    background-color: #512D28;
  }
  
  .lightPiece{
    background-color: #F4C242;
  }
  
  #textArea{
    width: 400px;
    height: 70px;
    background-color: #67759B;
    margin: 0px auto;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: 5px solid #67759B;
    border-right: 5px solid #67759B;
    border-bottom: 5px solid #67759B;
  }
  
  #textMove{
    padding-top: 2px;
    text-align: center;
    margin-bottom: 0;
  }
  
  #textMand{
    margin: 0;
    text-align: center;
  }
  

  @media only screen and (max-width: 570px) {


    #boardApp {
      width: 320px;
      height: 320px;
      border: 2px solid #67759B;
    }
    
    .allTile{
      width: 40px;
      height: 40px;
      float: left;
    }
    
    .darkTile{
      background-color: #A67D5D;
    }
    
    .lightTile{
      background-color: #E8D0AA;
    }
    
    .allPiece{
      width: 30px;
      height: 30px;
      margin: 5px auto;
      color: white;
      font-size: 1.8em;
    }

    #textArea{
      width: 240px;
      height: 50px;
      background-color: #67759B;
      margin: 0px auto;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-left: 3px solid #67759B;
      border-right: 3px solid #67759B;
      border-bottom: 3px solid #67759B;
    }

    #textMove {
      font-size: 20px;
    }

    #textMand {
      font-size: 16px;
    }
  }