body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

a{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.headContain {
    background: white;
    display: flex;
    position: fixed;
    height: 56px;
    padding-top: 4px;
}

.headContain > div {
    width: 32%;
    margin: 0 auto;
}

.headLogo {
    display: table;
}

.headLogo:hover {
    cursor: pointer;
}

.headContain {
    width: 100%;
    border-bottom: 1px solid rgb(177, 177, 177);
    z-index: 1000;
}

.headPic {
    display: table-cell;

}

.headPic > img {
    padding-top: 2px;
    margin-left: 4px;
    width: 48px;
    border-radius: 50%;
}

.headText {
    font-size: 28px;
    font-weight: bold;
    display: table-cell;
    text-indent: 4px;
    vertical-align: middle;
}

.headInfo {
    text-align:center;
    line-height: 67px;
}

.headInfoIcon {
    color: black;
    font-size: 28px;
    text-align: center;
    margin: 0 auto;  
    padding: 8px 9px;
    border-radius: 2px;
}

.headInfoIconOpen {
    color: rgb(33, 115, 168);
}

.headInfoIcon:hover {
    cursor: pointer;
    box-shadow: 0px 0px 2px grey;
}

.headInfoSec {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 4px rgb(206, 206, 206);
    transform: translateY(-100%);
    text-align: center;
    background: white;
}

.headInfoHeading {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 42px 0px;
    
}

.headInfoPara {
    font-size: 16px;
    max-width: 800px;
    width: 90%;
    margin: 0px auto 20px auto;
    text-align: left;
}

.headInfoParaLink > a {
    font-weight: bold;
    color: rgb(66, 162, 226);
}

.headInfoParaLink {
    cursor: pointer;
}

.headInfoArrow {
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    color: white;
    text-shadow: 0px 0px 4px rgb(68, 68, 68);
}

.headInfoArrow:hover {
    cursor:pointer;
    color: rgb(212, 212, 212);
}

@keyframes headInfoOpenAn  {
    from{transform: translateY(-100%);}
    to{transform: translateY(0%);}
} 

.headInfoOpen {
    animation: headInfoOpenAn 1s forwards;
}

@keyframes headInfoCloseAn  {
    from{transform: translateY(0%);}
    to{transform: translateY(-100%);}
} 

.headInfoClose {
    animation: headInfoCloseAn 1s;
}


.headListMain {
    width: 90%;
    max-width: 280px;
    font-size: 20px;
    margin: 14px auto;
    border-radius: 2px;
    position: relative;
}

.headListMain:hover {
    box-shadow: 0px 0px 2px grey;
    cursor: pointer;
}

.headListMainWithDrop {
    box-shadow: 0px 0px 2px grey;
}


.headListMainTxt {
    padding: 6px;
}

.headListMainTxt > div {
    display: inline-block;
}

.headListMainTxtIcon {
    color: rgb(33, 115, 168);
    width: 28px;
}

.headListMainTxtArrow {
    position: absolute;
    right: 8px;
    top: 12%;
    font-size: 20px;
}

.headListDrop {
    padding-top: 16px;
    position: absolute;
    left: 0;
    top: 33px;
    background: white;
    width: 100%;
    box-shadow: 0px 1px 1px grey;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    user-select: none;
}


.headListDropItem > a {
    width: 100%;
    padding: 7px 0 7px 5px;
}

.headListDropItem:hover {
    background: rgb(230, 230, 230);
}

.headListDropIcon {
    color: rgb(33, 115, 168);
    width: 28px;
}

.headListDropText {
    display: inline-block;
}

@media only screen and (min-width: 845px) {

    .headTextShort{ 
        display: none;
    }

}


@media only screen and (max-width: 845px) {

    .headTextLong{ 
        display: none;
    }

}

@media only screen and (min-width: 730px) {

   .headListMainSmall {
       display: none;
   }

}

@media only screen and (max-width: 730px) {

   .headListMain {
       display: none;
   }

   .headListMainSmall {
       margin-top: 7px;
       font-size: 24px;
       padding: 7px;
       display: inline-block;
       width: 50px;
       position: relative;
       border-radius: 2px;
       float:right;
   }

   .headListMainSmall:hover {
        box-shadow: 0px 0px 2px grey;
        cursor: pointer;
   }

   .headListMainSmallArrow {
        position: absolute;
        top: 10%;
        right: 5px;
    }
    
    .headListMainWithDrop {
        z-index: 1001;
        box-shadow: 0px 0px 1px grey;
        color: rgb(33, 115, 168);
    }

    .headListDrop {
        padding-top: 0px;
        width: 260px;
        left: -196px;
        top: 41px;
        box-shadow: 0px 0px 2px grey;
        border-top-left-radius: 2px;
    }

    .headListSmallDropCover {
        width: 64px;
        background: white;
        left: 0;
        height: 3px;
        position: absolute;
        top: 38px;
    }
}


 
 @media only screen and (max-width: 458px) {

    .headPic > img {
        margin-top: 6px;
        margin-left: 8px;
        width: 40px;
    }
    
    .headText {
        display: none;
    }


 }



.headDisplayNone {
    display: none;
}