<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark Fitzpatrick</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/indexMain.css">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    -->

</head>
<body>

<div class="displayNone" id="vApp">
    <!--Entire site container-->
    <div class="introSec">
        <!--Extra container for site-->
        <div class="introCard">
            <!--Container for profile img section-->
            <div class="introImgCon ">
                <img class="introImg" src="imgs/prof.jpg" alt="">
                <div class="introArrowCon">
                    <div class="introArrow fas fa-angle-double-right"></div>
                </div>
            </div>
            <!--Container for intro text-->
            <div class="introTxt">{{intTxtInfo1}} 
                <span class="boldName">{{intTxtName}}</span>
            {{intTxtInfo2}} </div>
            <!--Container for intro links-->
            <div v-bind:class="{linksVisible}" class="introLinksCon">
                <div class="introLinks" v-for="item in introLinks">{{item}}</div>
            </div>
        </div>
        <!--Container for bio section-->
        <div class="introBio dispalyNone"></div>
    </div>
</div>



<script src="/scripts/utility/scriptLoad.js"></script>
<script src="/scripts/utility/vueLoad.js"></script>
    
    
</body>
</html>