<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark Fitzpatrick</title>
    <link rel="stylesheet" href="/styles/indexMain.css">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    -->

</head>
<body>

    <div class="displayNone" id="vApp">
        <header class="displayNone">
            <div class="headerLinkCont">
                <div class="headerLink" v-for="item in headerList">{{item}}</div>
            </div>
        </header>
        <div id="introSec">
            <div>{{intTxtInfo}}</div>
        </div>
    </div>

    <script src="/scripts/indexMain.js"></script>
    
</body>
</html>