<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mark Fitzpatrick</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/indexMain.css">
    <!--
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    -->

</head>
<body>

<div class="displayNone" id="vApp">
    <!--Entire site container-->
    <div class="siteSec">
        <!--Entire intro container-->
        <div class="introSec">
            <!--Extra container for site-->
            <div v-bind:class="{introCardHalf, introCardFull}" class="introCard">
                <!--Container for profile img section-->
                <div v-bind:class="{minIntroImgCon, maxIntroImgCon}" class="introImgCon ">
                    <img v-bind:class="{minIntroImg, maxIntroImg}" class="introImg" src="imgs/prof.jpg" alt="">
                    <div v-bind:class="{minIntroArrowCon, maxIntroArrowCon}" class="introArrowCon">
                        <div v-bind:class="{displayNone: rightArrowHide}" @click="showBio" class="introArrow fas fa-angle-double-right"></div>
                        <div v-bind:class="{displayNone: leftArrowHide}" @click="showBio" class="introArrow fas fa-angle-double-left"></div>
                        <div v-bind:class="{displayNone: downArrowHide}" @click="toggleIntro(false, true)" class="introArrowMin fas fa-angle-double-down"></div>
                    </div>
                </div>
                <!--Container for intro text-->
                <div class="introTxt">
                    <span >{{intTxtInfo1}}</span>
                    <span class="boldName">{{intTxtName}}</span>
                    <span >{{intTxtInfo2}}</span>
                </div>
                <!--Container for intro links-->
                <div v-bind:class="{linksVisible}" class="introLinksCon">
                    <div class="introLinksAll" v-bind:class="{mIntLinks, maxIntLinks}">
                        <div class="introLinks" v-for="item in introLinks">
                            <div  v-bind:value="this.place" >
                                <div v-bind:class="item.classes" class="introLinkTxt" @click="item.func(item.place)">{{item.text}} </div>
                            <div class="introLinksFakeBorder"></div></div>
                        </div> 
                    </div>
                </div>
            </div>
            <!--Container for bio section-->
            <div v-bind:class="{bioVisible: bioVisible , bioVisibleRev: bioVisibleRev , displayNone: !bioVisible}" class="introBio">
                <div class="aboutMeTitle">{{aboutTitle}}</div>
                <div class="aboutMePara">{{aboutPara}}</div>

                <div v-bind:class="{bioVisibleSk: bioVisibleSk , bioVisibleRevSk: bioVisibleRevSk , displayNone: !bioVisibleSk}" class="skillsContain">
                    <div class="skillItems" v-for="item in skillList">
                        <i v-bind:class="item.icon"></i>
                        <div>{{item.desc}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--Section for displaying content-->
        <div class="dataSec">
            <!--Section for displaying portfolio-->
            <div v-bind:class="{displayNone: !portfolioBool}" class="portSec">
                <div class="portItems">
                    <div class="portItemsCon" v-for="item in portItemsCurr">
                        <div class="portItemContents">
                            <div class="portItemImg">
                                <img v-bind:class="{portImgAnimate}" v-bind:src="item.img" alt="">
                                <div class="portImgHover">
                                    <div class="portImgGo">View {{item.name}}</div>
                                </div>
                            </div>
                            <div class="portItemName">{{item.name}}</div>
                        </div>
                    </div>
                </div>
                <div class="portItemsMenu">
                    <div class="portMenu">
                        <div v-for="item in portMenu.items()">
                            <div v-if="item.activated" class="fas fa-circle portMenuIcon"></div>
                            <div v-else class="far fa-circle portMenuIcon"></div>
                            </div>
                    </div>
                </div>
            </div>
            <!--Section for displaying contact-->
            <div v-bind:class="{displayNone: !contactBool}" class="contSec">
                <h1>KEK</h1>
            </div>
        </div>
    </div>
</div>



<script src="/scripts/utility/scriptLoad.js"></script>
<script src="/scripts/utility/vueLoad.js"></script>
    
    
</body>
</html>