<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-do || Mark Fitzpatrick</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>

    <div id="vHead">
        <div class="headContain">
                <div class="headLogo">
                    <a href="/">
                        <div class="headPic">
                            <img src="/imgs/head-logo.png" alt="">
                        </div>
                        <div class="headText headTextShort">{{logoName}}</div>
                        <div class="headText headTextLong">{{logoNameFull}}</div>
                    </a>
                </div>
            
            <div class="headInfo">
                <div @click="toggleInfo" v-if="!infoOpen" class="headInfoIcon fa fa-book"></div>
                <div @click="toggleInfo" v-else class="headInfoIcon headInfoIconOpen fa fa-book-open"></div>
            </div>
            <div class="headList">
                <div class="headListMain">
                    <div class="headListMainTxt">
                        <div v-bind:class="headInfo.icon" class="headListMainTxtIcon"></div>
                        <div class="headListMainTxtText">{{headInfo.heading}}</div>
                        <div class="headListMainTxtArrow fas fa-sort-down"></div>
                    </div>
                </div>
                <div class="headListDrop"></div>

                </div>
            </div>
        
            <div v-bind:class="{headInfoOpen: infoOpen, headInfoClose: infoClose}" class="headInfoSec">
                <div class="headInfoHeading">{{headInfo.heading}}</div>
                <div v-for="item in headInfo.paragraph" class="headInfoPara">{{item}}</div>
                <div @click="toggleInfo" class="headInfoArrow fa fa-angle-up"></div>
            </div>
        </div>
    </div>


    <script src="/scripts/utility/scriptLoad.js"></script>
    <script src="/scripts/utility/mainLoad.js"></script>
    
</body>
</html>