/* Body and all stylings */
* {
    padding: 0;
    margin: 0;
}

body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Intro section */

.introSec {
    display: inline-flex;
    width: 100%;
}

.introCard {
    width: 100%;
}

.introImgCon {
    width: fit-content;
    margin: 10vh auto 25px auto;
}

.introTxt {
    font-size: 28px;
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.boldName {
    font-weight: bold;
}

.introArrowCon {
    display: inline-block;
    height: 240px;
    line-height: 240px;
    padding-left: 10px;
    vertical-align: top;
}

.introArrow {
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgb(53, 53, 53);
}


.introImg {
    display: inline-block;
    width: 240px;
    border-radius: 50%;
    border: 1px solid rgb(25, 141, 219);
}

.introLinksCon {
    margin-top:26px;
    opacity: 0;
}

.introLinks {
    font-size: 28px;
    color: rgb(31, 134, 202);
    display: inline-block;
    width: 25%;
    text-align: center;
    user-select: none;
}

.introLinks:nth-child(1){
    margin-left: 25%;
}

.introLinks:nth-child(2){
    margin-right: 25%;
}

.introLinks:hover {
    color: rgb(32, 114, 168);
    cursor: pointer;
}

/* Bio section */

.introBio {
    width: 50%;
}

.aboutMeTitle {
    margin-top: 13vh;
    font-size: 34px;
    font-weight: bold;
    text-align:center;
    width: 100%;
}

.aboutMePara {
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
    color: rgb(56, 56, 56);
}

.skillsContain {
    padding-top: 20px;
}

.skillItems{
    vertical-align: top;
    text-align: center;
    font-size: 18px;
    color: rgb(102, 102, 102);
    display: inline-block;
    width: 30%;
    margin: 0 1.5%;
}

.skillItems > i {
    margin-bottom: 10px;
    font-size: 76px;
    color: rgb(0, 90, 150);
}


.introLinksFakeBorder {
    height: 2px;
}

.introLinkTxt {
    width: fit-content;
}

/* Links section */

.intLinkUnderline {
    text-decoration: underline;
}

/* Data Section */

.dataSec {
    width: 90%;
    margin: 5px 5% 5px 5%;
}

.portItems {
    width: 100%;
}

.portItemsCon {
    box-shadow: 0px 2px 4px rgb(105, 105, 105);
    width: 44%;
    height: fit-content;
    height: 100%;
}

.portItemImg {
    position: relative;
    width: 100%;
    height: 100%;
}


.portItemImg > img {
    width: 100%;
    height: 100%;
    position: relative;
    display:block;
}

.portImgHover {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(36, 36, 99, 0.7);
    opacity: 0;
}

.portImgGo {
    width: 80%;
    padding: 10px 0;
    background: #f7f7f7;
    border-radius: 2px;
    vertical-align: middle;
    font-size: 20px;
    margin: 20% auto;
    text-align: center;
}

.portImgGo:hover {
    cursor: pointer;
    color: rgb(25, 141, 219);
}

.portImgHover:hover {
    opacity: 1;
 }

.portItemName {
    padding: 10px 0;
    font-size: 24px;
    text-indent: 14px;
    position: relative;
    z-index: 100;
}

/* Animations section */

@keyframes intArrowBounce {
    from {padding-left: 0}
    to {margin-left: 3px;
        margin-right: -3px;}
}

.introArrow:hover {
    animation: intArrowBounce 0.8s alternate infinite;
    cursor: pointer;
    color: rgb(231, 231, 231);
}

@keyframes makeLinksVisible {
    from{margin-top: -10px;
        opacity: 0}
    to{opacity: 1;
        margin-top: 26px;}
}

.linksVisible {
    animation: makeLinksVisible 1s forwards;
    opacity: 1;
}

@keyframes halfIntroAn {
    from{width: 100%}
    to{width:50%};
}
@keyframes fullIntroAn {
    from{width: 50%}
    to{width: 100%};
}

.introCardHalf {
    animation: halfIntroAn 0.6s forwards;
}
.introCardFull {
    animation: fullIntroAn 0.6s forwards;
}

/* Bio Animations */

@keyframes bioVisAn {
    from{margin-top: -10%;
        opacity: 0;}
    to{margin-top: 0;
        opacity: 1;}
}

@keyframes bioVisRevAn {
    from{margin-top: 0%;
        opacity: 1;}
    to{margin-top: -10%;
        opacity: 0;}
}

.bioVisible {
    animation: bioVisAn 0.5s forwards;
}

.bioVisibleSk {
    animation: bioVisAn 0.8s forwards;
}

.bioVisibleRev {
    animation: bioVisRevAn 0.4s forwards;
}

.bioVisibleRevSk {
    animation: bioVisRevAn 0.4s forwards;
}

@keyframes linkFakeBorderAn {
    from{width: 0%;}
    to{width: 100%;}
}


.introLinksFakeBorder:hover {
    background: rgb(32, 114, 168);
    animation: linkFakeBorderAn 0.5s forwards;
}

.displayNone {
    display: none;
}


