/* Body and all stylings */
* {
    padding: 0;
    margin: 0;
}

body {
    background: #f7f7f7;
    font-family: Arial, Helvetica, sans-serif;
}

/* Intro section */

.introSec {
    display: inline-flex;
    width: 100%;
}

.introCard {
    width: 100%;
}

.introImgCon {
    width: fit-content;
    margin: 10vh auto 25px auto;
}

.introTxt {
    font-size: 28px;
    text-align: center;
    width: 90%;
    margin: 0 5%;
}

.boldName {
    font-weight: bold;
}

.introArrowCon {
    display: inline-block;
    height: 240px;
    line-height: 240px;
    padding-left: 10px;
    vertical-align: top;
}

.introArrow {
    font-size: 38px;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgb(53, 53, 53);
}


.introImg {
    display: inline-block;
    width: 240px;
    border-radius: 50%;
    border: 1px solid rgb(25, 141, 219);
}

.introLinksCon {
    margin-top:26px;
    opacity: 0;
}

.introLinks {
    font-size: 28px;
    color: rgb(31, 134, 202);
    display: inline-block;
    width: 25%;
    text-align: center;
    user-select: none;
}

.introLinks:nth-child(1){
    margin-left: 25%;
}

.introLinks:nth-child(2){
    margin-right: 25%;
}

.introLinks:hover {
    color: rgb(32, 114, 168);
    cursor: pointer;
}

/* Bio section */

.introBio {
    width: 50%;
}

.aboutMeTitle {
    margin-top: 10vh;
    font-size: 34px;
    font-weight: bold;
    text-align:center;
    width: 100%;
}

.aboutMePara {
    width: 90%;
    margin: 20px auto;
    font-size: 18px;
    color: rgb(56, 56, 56);
}

/* Animations section */

@keyframes intArrowBounce {
    from {padding-left: 0}
    to {margin-left: 3px;
        margin-right: -3px;}
}

.introArrow:hover {
    animation: intArrowBounce 0.8s infinite;
    cursor: pointer;
    color: rgb(231, 231, 231);
}

@keyframes makeLinksVisible {
    from{margin-top: -10px;
        opacity: 0}
    to{opacity: 1;
        margin-top: 26px;}
}

.linksVisible {
    animation: makeLinksVisible 1s forwards;
    opacity: 1;
}

@keyframes halfIntroAn {
    from{width: 100%}
    to{width:50%};
}
@keyframes fullIntroAn {
    from{width: 50%}
    to{width: 100%};
}

.introCardHalf {
    animation: halfIntroAn 1s forwards;
}
.introCardFull {
    animation: fullIntroAn 1s forwards;
}

/* Bio Animations */

@keyframes bioVisAn {
    from{margin-top: -100%}
    to{margin-top: 0}
}

.bioVisible {
    animation: bioVisAn 0.5s forwards;
}

.displayNone {
    display: none;
}


